select, summary {
    background-color: black;
    box-shadow: 0 5px 0 grey;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  select, summary:hover {
    background-color: grey;
    cursor: pointer;
  }
  
  select, summary:active {
    box-shadow: none;
    top: 5px;
  }